/* Base style */
* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* button,
input {
    font-family: "Spoqa", sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
} */

ul,
li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

body {
    font-family: 'Nunito Sans', Arial, Helvetica, Verdana, sans-serif;
    background-color: #f1f1f1;
    color: #222;    
}


header ul, footer ul {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

section h2 {
    font-size: 70px;
    color: #244845;
}

.description {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 40px;
}


/* Header */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #F5F1EB;
    height: 100px;
    z-index: 5000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#header .container{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    width: 30%;
}

#header h1 a {
    display: block;
    line-height: 0;
}

#header h1 a img {
    width: 110px;
    height: auto;
    /* align-self: start; */
}

#header nav {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu {
    display: flex;
    font-size: 18px;
    font-weight: 800;
}

.menu>li {
    padding-left: 102px;
}

.menu>li>ul {
    display: none;
}

/* Main */
main {
    width: 100%;
    overflow: hidden;
}

/* Hero */
#hero {
    padding-top: 100px;
    height: 1500px;
    background-image: url('images/img_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
}

#hero h2 {
    color: #222;
    padding: 115px 0 20px;
    font-size: 70px;
}

/* About */
#about {
    position: relative;
    top: -380px;
    left: -10%;
    width: 120%;
    height: 1000px;
    border-radius:130% 130% 0 0;
    text-align: center;
    z-index: 1000;
    background-color: #e9edee;
}

#about .container {
    height: 100%;
    padding-top: 130px;
    background-image: url('./images/img_aboutus.png');
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: 60px bottom;
}


#about .description {
    padding-top: 108px;
    text-align: right;
}




/*-----------IGNORE THIS SECTION UNTIL DISCUSSED IN CLASS-----------*/

/* Desktop only rules. For example, if you have 2 layout areas that are stacked on mobile, but side-by-side on desktop, put your flexbox rules below. */

@media screen and (min-width: 900px){
/* Put all desktop only rules after this comment and before closing comment */




/* Put all desktop only before this comment and after opening comment */
}

